/*Reset CSS khi thai tác các web để không thay đổi kích thước 1 trang web*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

    /*
    1, Từ ngoài vào trong.
    2. Từ trên xuống dưới.
    3. Tổng quan đến chỉ tiết.
    */

    /*

     1. vị trí  ( thẻ main ở trong thẻ body là đúng )
     2. kích thước (Width,height
     3. Màu sác
     4. Kiểu dáng ( kiểu chữ, hình tròn, vuông, ... ) 
      
     */
html{
font-family: Arial, Helvetica, sans-serif;/*font chữ cho thẻ html trong web, khi có chữ sẽ kế thừa*/
}

#main {

}

#header {
    height: 46px;
    background-color: #000;

}
#nav{

}

#nav li{
    display:inline-block;/*đưa các li chữ thành hàng ngang theo menu navi chính*/
}

#nav .subnav{
    display: none;/*ẩn nội dung trong thẻ vavi "More*/
}
#nav li a{
    color: #fff;
    text-decoration: none;/* bỏ gạch chân trong thẻ a*/
    line-height: 46px; /* canh chữ giữ kích thước = chiều cao header của thanh  navi điều hướng */
    padding: 0 20px; /* canh các khoản cách giữa các thanh trên vavi cách nhau 20px*/
    display: inline-block; /*có tác dụng tăng kích thước chiều cao cho thẻ a*/
}
#nav li:hover a
{
    color: #000 ;
    background-color: #ccc;
}

#slider {

}

#content {

}

#footer {

}
